@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.reset-pwd {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        height: 65vh;
    }

    &__form-container {
        background: #f1f7fe;
        padding: 20px;
        max-width: 400px;
        width: 100%;

        @include tablet {
            border-radius: 30px;
            padding: 3rem;
        }
    }

    &__form-container h2 {
        text-align: center;
        margin-bottom: 20px;

        @include tablet {
            margin-top: 0;
        }
    }

    &__form-group {
        display: block;
        margin-bottom: 1.5rem;
    }

    &__form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    &__form-group label {
        margin-bottom: 10px;
    }

    &__text {
        font-size: $mob-body;
    }

}

.message {
    margin-top: 15px;
    text-align: center;
    color: red;
  }