@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.card {
    // margin: 20px auto;
    // // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    // overflow: hidden;
    // // transition: box-shadow 0.3s ease;
    // max-width: 350px; // Or any max-width that suits your design
    // margin: auto;
    // width: 200px;
    // height: 35vh;
    // border-radius: 20px;
    background-color: #e4f0fc;
    // overflow: hidden;
    // margin-right: 10px;
    // margin-top: 2rem;
    // display: inline-block;
    cursor: pointer;
    // -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    border-radius: 20px;
    padding: 1rem;
    flex: 0 0 auto; 
    width: 300px; 
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    position: relative;

    @include tablet {
        // flex: 0.5;
        width: 20vw;
    }
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transform: scale(1.05);
    }
  }
  
  .card__container {
    padding: 20px;
    background-color: #fff;
  }

  