@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.card {
  display: flex;
  justify-content: center;

  &__container {
    padding: 1.5rem;
    background-color: $itinerary-card;
    border-radius: $card-corner;
    margin: 1rem 1.5rem; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;

    @include tablet {
      padding: 0 1.5rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      margin: 0;
      border-radius: 0;
      border-bottom: 1px solid $cloud;
    }
  }

    &__items-container {
      display: flex;
      justify-content: flex-start;
    }

    &__space {
      flex: 0.5;
    }

    &__title {
      font-size: $mob-header;

      @include tablet { 
        display: none;
      }
    }

    &__day {
      font-weight: bold;
      font-size: $mob-header;

      @include tablet { 
        font-size: $tab-header;
      }
    }

    &__item {
      font-size: $mob-body;

      @include tablet {
        font-size: $tab-body;
      }
    }
}
  