@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

button {
    height: $btn-height;
    background-color: $instock-indigo;
    border-radius: $border-radius;
    border: none;
    color: $white;
    width: 4.5rem;
    font-size: 0.75rem;
    font-weight: 500;

    @include tablet {
        width: 6rem;
        font-size: 0.875rem;
    }

    &:hover {
        background-color: $graphite;
    }
}

.button__suggestions {
    width: 9rem;
    font-size: 0.813rem;
    font-weight: 600;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: rgb(22, 41, 111);
        box-shadow: 0px 15px 20px rgba(22, 41, 111, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
}

.button__password {
    width: 100%;
    padding: 10px;
    border: none;
    background-color:$instock-indigo;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    button:hover {
        background-color: $graphite;
    }
    
}
