@use './variables' as *;

// BREAKPOINTS

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
  }
  
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
      @content;
  }
}

@mixin burger-menu {
  @media (max-width: $burger-menu-breakpoint) {
    @content;
  }
}

@mixin form-style {
    border-radius: 10px;
    color: $instock-black;
    font-family: $main-typeface;
    height: 2.25rem;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $cloud;
}
      