@use './typography' as *;

$main-typeface: "Avenir", Arial, Helvetica, sans-serif;

//COLORS

$white: white;
$instock-black: #13182C;
$instock-indigo: #2E66e5;
$cloud: #BDC5D5;
$slate: #5C667E;

// BACKGROUND
$graphite: #232940;
$light-grey: #F7F8F9;

// MEDIA QUERIES

$tablet-breakpoint: 47.938rem; /* 767px */
$desktop-breakpoint: 80rem; /* 1280px */

//BUTTON

$btn-height: 2.25rem;
$border-radius: 4px;