/* styles.css */
.default-background {
    background-color: transparent;
    background-image: url('../assets/images/background-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.alternate-background {
    background-color: #cde7f9;
    background-image: none;
}