@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem 3rem;
    }

    @include desktop {
        padding: 3rem 9rem;
    }

    &__text-container {
        text-align: center;
        padding: 0 1rem;

        @include tablet {
            text-align: left;
            padding-top: 2rem;
        }

    }

    &__text-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            align-items: start;
            flex:1;
        }
    }

    &__text-container h1 {

        @include tablet {
            font-size: 26px;
        }
        
        @include desktop {
            font-size: 2.7rem;
        }
    }

    &__image-container {
        margin-top: 2rem;
        height: 10rem;

        @include tablet {
            display: flex;
            justify-content: center;
            order: 1;
            flex: 0.5;
            margin-top: 3.5rem;
        }

        @include desktop {
            margin-top: 1.5rem;
        }
    }

    &__image-container img {
        height: 10rem;

        @include tablet {
            height: 45vh;
        }

        @include desktop {
            height: 60vh;
        }
    }
}