.background-color {
    background-color: #cde7f9 !important;
    background-image: none !important;
  }
  
  .background-image {
    background-image: url('../../assets/images/background-img.jpg') !important;
    background-color: transparent !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  