@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $graphite;
    // background-color: rgba(35, 41, 64, 0.5);
    
    &__container {
        padding: 0 1rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }
    }

    &__logo-container {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 1rem 0;
       gap: 0.2rem;
    }

    &__logo {
        height: 2rem;
    }

    &__web-title{
        color:$white;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &__nav-link {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 0;
            flex: 0.5;
            gap: 2rem;
        }
    }

    &__state {
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        width: 50%;
        border-radius: 1.25rem;
    }

    &__active-nav-link {
        background: $instock-black;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    &__inactive-nav-link {
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    &__title {
        color: $white;
    }

}