@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.slider {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: $mob-header;
    margin-bottom: 0.5rem;

    @include tablet {
        font-size: 1rem;
    }

    &__container {
        position: relative;
    }
    
    &__value {
        position: absolute; 
        color: $white;
        background: $instock-indigo;
        font-weight: 600;
        font-size: $mob-body;
        padding: 0.3rem;
        border-radius: $card-corner;
        transform: translateX(-50%);

        @include tablet {
            font-size: $tab-body;
        }
    }

    &__value-range {
        display: flex;
        justify-content: space-between;
    }
}

option {
    font-size: $mob-body;
    font-weight: 600;

    @include tablet {
        font-size: $tab-body;
    }
}

#budget {
    
    width: 100%;
    margin: 2.3rem 0 0.5rem 0;
    appearance: none; 
    --webkit-appearance: none;

    &::-webkit-slider-thumb {
        appearance: none; 
        --webkit-appearance: none;
        width: $slider-width;
        height: $slider-height;
        background: $instock-indigo;
        cursor: pointer;
        border-radius: $slider-corner;
        margin-top: $slider-margin;
      }
    
      &::-moz-range-thumb {
        width: $slider-width;
        height: $slider-height;
        background: $instock-indigo;
        cursor: pointer;
        border-radius: $slider-corner;
        margin-top: $slider-margin;
      }
    
      &::-ms-thumb {
        width: $slider-width;
        height: $slider-height;
        background: $instock-indigo;
        cursor: pointer;
        border-radius: $slider-corner;
        margin-top: $slider-margin;
      }

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        background: $white;
        border-radius: 4px;
      }
    
      &::-moz-range-track {
        width: 100%;
        height: 8px;
        background: $white;
        border-radius: 4px;
      }
    
      &::-ms-track {
        width: 100%;
        height: 8px;
        background: $white;
        border-radius: 4px;
      }
}

