@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.itinerary-details {

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 2rem 10rem;
    }

    &__headline {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 1.5rem;
    }

    &__container {
        display: none;

        @include tablet {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0 1.5rem;
            background-color: $light-blue;
            border-bottom: 1px solid $cloud;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            transition: box-shadow 0.3s ease;
        }    
    }

    &__list {
        padding: 0;
        margin-top: 0;
    }

    &__row-heading {
        font-size: 1.125rem;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
