@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.user-input {

    &__container {
        padding: 1rem;
    }

    &__trip-info {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__budget-container {
        display: flex;
        justify-content: center;
    }

    &__options-container {
        display: flex;
        justify-content: center;
    }

    &__options-btn {
        background: rgba(231, 233, 238, 0.887);
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: space-between;
        gap: 0.3rem;
        border-radius: 20px;
    
        @include tablet {
            width: 50%;
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
        }

        @include desktop {
            width: auto;
        }
    }

    &__budget {
        background: rgba(231, 233, 238, 0.887);
        border-radius: 20px;
        padding: 0.5rem 1.5rem;
        width: 80%;
        margin-bottom: 1rem;
        
        @include tablet {
            padding: 1rem 2rem;
            width: 65%;
        }
    }

    &__suggestions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

#tripDestination {
    @include form-style;
    margin-bottom: 1rem;
    background-image: url('../../assets/icons/destination-black.svg');
    background-position: 10px 3px; 
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    background-repeat: no-repeat;
    font-size: 0.875rem;

    @include tablet {
        width: 65%;
        font-size: 1rem;
    }
}

#tripDuration {
    @include form-style;
    margin: 1rem 0;
    font-size: 0.875rem;

    @include tablet {
        width: 65%;
        font-size: 1rem;
    }
}

#additionalInfo {
    @include form-style;
    padding: 1rem 0.75rem 5rem 0.75rem;
    margin: 1rem 0;
    font-size: 0.875rem;

    @include tablet {
        width: 65%;
        font-size: 1rem;
    }
}

.selected {
    background: $graphite;
}

.not-selected {
    background: $instock-indigo;
}

